@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Source+Sans+3:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Source-Sans-3, serif;
    font-weight: 300;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;

}

main {
    width: 100%;
    height: 100%;
    margin: 0;
    flex: 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    background-image: linear-gradient(135deg, transparent 0%, #fff 25%, #fff 75%, transparent 100%), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAIklEQVQoU2N89+7dfwYsQEhIiBEkzDgkFGDzAbIY2Cv4AACvrBgJjYNGfwAAAABJRU5ErkJggg==);
}

/* Headings paragraphs and Logo */

h1,
h2 {
    font-family: Oswald, sans-serif;
    letter-spacing: 4px;
    color: #252525;
}

h2 {
    text-align: center;
    font-size: 230%;
    margin: 50px 0 50px 0;
}

h3 {
    text-align: left;
    font-size: 170%;
}

h4 {
    text-align: center;
    font-size: 160%;
    margin-top: 20px;
    margin-bottom: 0;
}

p {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 1.5rem;
    font-size: 140%;
    line-height: 2;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(67, 212, 171, 0.2);
    box-shadow: 0 2px 2px -2px gray;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 80px;
}

/* Navigation links */

#menu {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 130%;
    letter-spacing: 4px;
    margin-right: 80px;
}

#menu,
#logo {
    line-height: 70px;
}

#menu ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

#menu li {
    list-style-type: none;
    margin: 5px;
    width: 100%;
    height: 100%;
}

#menu a {
    text-decoration: none;
    color: inherit;
    padding: 10px;
    height: 100%;
    width: 100%;
}

#menu a:hover {
    background-color: rgb(211, 183, 183, 0.4);
    border-radius: 12px;

}

/* Styling button */

.button {
    border: 2px solid #B8B8B8;
    border-radius: 12px;
}

/* justice image */

#justice-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#justice {
    height: 600px;
    width: 100%;
    background: url(../images/justice.jpg) no-repeat center center;

    /*animates zoom effect on loading page */

    animation-name: justice-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates a level of zoom for hero image */

@keyframes justice-zoom {
    from {
        transform: scale(1);

    }

    to {
        transform: scale(1.1);
    }
}

/* Description box */

.description-box {
    background-color: rgb(211, 183, 183, 0.4);
    box-sizing: border-box;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 30px 0 30px 0;
    padding: 25px 0 25px 0;
}

/* Topics list grid subsection */

.topics-list {
    display: grid;
    background-color: rgb(67, 212, 171, 0.2);
    grid-template-columns: repeat(2, 1fr);
    padding: 50px 25px 50px 25px;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 0 30px 0 30px;
}

/* The idea of the list image is from Code Institute website */

.list-image {
    width: 80px;
    height: 80px;
    aspect-ratio: auto 80 / 80;
    float: left;
    margin: 50px 50px 50px 50px;
}

.topic-name {
    width: 100%;
    height: 100%;
    margin: 50px 50px 50px 0px;
}

.topic {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

/* Video project section*/

#video-gallery-flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0 0 50px 0;
    justify-content: center;
}

.frame {
    margin: 16px;
}

/* Styling scroll on top button */

.scroll-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 80px 50px 80px;
}

.scroll-btn a {
    text-decoration: none;
    color: inherit;
    padding: 10px;
    font-size: 130%;
    letter-spacing: 4px;
    margin: 0;
}

.scroll-btn a:hover {
    background-color: rgb(211, 183, 183, 0.4);
    border-radius: 12px;
    padding: 10px;
}

/* Styling footer */

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(67, 212, 171, 0.2);
    width: 100%;
    height: 100%;
    margin: 0;
    box-shadow: 0 -1px 4px -0.5px gray;
}

.social-networks {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-networks i {
    color: #2d69d2;
    font-size: 32px;
    padding: 50px 16px;
    margin: 0;
}

.social-networks i:hover {
    color: #D3B7B7;
}


/* Styling about.html file */
/* Team information */

.team-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.about {
    margin-bottom: 20px;
}

.card-name {
    text-align: center;
}

.card {
    margin: 50px auto;
    border-radius: 8px;
}

.card-circle-container {
    width: 560px;
    height: 560px;
    padding: 25px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
    background: rgb(211, 183, 183, 0.4);

}

.first-cover-bg {
    background: url('../images/co-founder-first.jpg') no-repeat top center;
    height: 100%;
    border-radius: 50%;
}

.second-cover-bg {
    background: url('../images/co-founder-second.png') no-repeat top center;
    height: 100%;
    border-radius: 50%;
}

.card-body .city {
    text-align: center;
    font-size: 140%;
    margin: 10px 0 10px 0;
    padding: 0;
}

/* Styling Facebook button */

.facebook-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 80px 50px 80px;
}

.facebook-btn a {
    text-decoration: none;
    padding: 10px;
    font-size: 130%;
    letter-spacing: 4px;
    margin: 0;
    background-color: #2d69d2;
    color: white;

}

/* Styling form.html */

.card-form {
    width: 100%;
    position: relative;
    display: flex;
    flex: column;
    min-width: 8rem;
    max-width: 30rem;
    margin: 30px auto 50px auto;
    background-color: rgb(211, 183, 183, 0.4);
    border-radius: 4px;
}

.form-p {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 0px;
    font-size: 120%;
    line-height: 24px;
}

.form-p-container {
    width: 100%;
    margin: 0 auto 30px auto;
    ;
}

.label-hidden {
    display: none;
}

.form-column {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
}

.form-text {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 1.5rem;
    font-size: 100%;
    line-height: 2;
}

.form-area {
    position: relative;
    width: 100%;
}

.form-control {
    display: block;
    width: 100%;
    font-size: 15px;
    font-weight: normal;
    background-color: white;
    background-clip: padding-box;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 16px;
    margin-bottom: 16px;
    box-shadow: 1px 1px gray;
}

.form-select {
    width: 50%;
    padding: 16px 24px 16px 16px;
    margin-bottom: 16px;
    border-right: 16px solid transparent;
    font-size: 15px;
    border-radius: 4px;
    box-shadow: 1px 1px gray;
}

option {
    font-size: 15px;
    word-wrap: break-word;
    font-weight: normal;
}

select {
    word-wrap: normal;
}

/* Styling submit button */

.submit-btn-flex {
    display: flex;
    width: 100%;
}

.submit-btn {
    display: inline-block;
    text-align: center;
    background-color: rgb(67, 212, 171, 0.4);
    padding: 16px 24px 16px 24px;
    font-size: 18px;
    border-radius: 4px;
    box-shadow: 1px 1px gray;
}


/* Media */

/* Media for screen sizes from 1090px wide and down */

@media screen and (max-width: 1090px) {

    /* Topics list subsection */

    .topics-list {
        padding: 25px 12px 25px 12px;
        margin-left: 30px;
        margin-right: 30px;
        border-radius: 0 30px 0 30px;
    }

    .topic-name {
        font-size: 120%;
        text-align: center;
        margin: 15px 15px 15px 15px;
    }

    .list-image {
        width: 40px;
        height: 40px;
        aspect-ratio: auto 40 / 40;
        margin: 15px 15px 15px 15px;
    }

    .topic {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    h2 {
        text-align: center;
        font-size: 190%;
        margin: 25px 0 25px 0;
        letter-spacing: 2px;
    }

    /* Project description subsection */

    .description-box {
        margin: 0 30px 0 30px;
    }

    p {
        padding: 1rem;
        font-size: 120%;
        line-height: 1.5;
    }

    /* Logo */

    #logo {
        font-size: 200%;
        margin-left: 40px;
    }

    /* Main image */

    #justice {
        height: 500px;
    }

    #justice-outer {
        height: 500px;
    }
}

/* Media for screen sizes from 1090px wide and down */

@media screen and (max-width: 1139px) {

    /* Styling header */

    header {
        flex-direction: column;
        align-items: unset;
    }

    #menu ul {
        flex-direction: column;
    }

    #menu,
    #logo {
        line-height: 30px;
        margin: 30px 0 20px 50px;
    }

    #logo {
        font-size: 250%;
    }
}


@media(max-width: 1010px) {
    .
}