@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Source+Sans+3:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Source Sans3;
    font-weight: 300;


}

/* Headings and Logo */

h1,
h2 {
    font-family: Oswald, sans-serif;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 300%;
}